/* Restaurants */

.main {
	min-height: 100vh;
}

.dishes {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.dish {
	font-size: 25px;
	background-color: white;
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 10px;
	border-radius: 20px;
}

.dish-link {
	color: black;
	margin-top: 20px;
}

.dish-link: visited {
	color: darkgray;
}

.not-found {
	margin-top: 30px;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.find {
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  background-color: black;
}

.find form {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
}