<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" th:href="@{/static/mainStyle.css}">
    <link rel="stylesheet" th:href="@{/static/menu/showDish.css}">
</head>
<body>
<header>
    <div><p class="title">Restaurant</p></div>
    <div class="buttons">
        <a th:href="@{/home}" class="btn">Home</a>
        <a th:href="@{/menu}" class="btn">Menu</a>
        <a th:href="@{/restaurants}" class="btn">Restaurants</a>
        <a th:href="@{/home}" class="btn">Summary</a>
    </div>
</header>
<div class="dish">
    <img th:src="'data:image/jpeg;base64,' + ${dish.image}" alt="Dish Image" width="700px" height="700px"/>
    <p> <span class="name">Title: </span> <span th:text="${dish.title}"/></p> 
    <p> <span class="name">Description: </span> <span th:text="${dish.description}"/></p> 
    <p> <span class="name">Price: </span> <span th:text="${dish.price}"/> <span class="name">$</span></p> 
    <p> <span class="name">Type: </span> <span th:text="${dish.type}"/></span> 
    <hr>
    <p style="margin-bottom: 10px;" class="name">Ingredients:</p>
    <ul>
        <li th:each="ing : ${dish.ingredients}" th:text="${ing.title}">Ingredient title</li>
    </ul>
</div>
<footer>
    <p>Phone number: +7 (123) 456-78-90</p>
    <p>Email: info@restaurantname.com</p>
    <p>Restaurant 2024</p>
</footer>
</body>
</html>