
/* Main  */
.main-info {
	background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);

	text-align: right;
	color: white;
	padding: 100px 10% 100px 40%;

	font-size: 25px;
}

