<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" th:href="@{/static/mainStyle.css}">
    <link rel="stylesheet" th:href="@{/static/restaurants/showRestaurant.css}">
</head>
<body>
<header>
    <div><p class="title">Restaurant</p></div>
    <div class="buttons">
        <a th:href="@{/home}" class="btn">Home</a>
        <a th:href="@{/home}" class="btn">Menu</a>
        <a th:href="@{/restaurants}" class="btn">Restaurants</a>
        <a th:href="@{/home}" class="btn">Summary</a>
    </div>
</header>
<div class="restaurant">
    <img th:src="'data:image/jpeg;base64,' + ${restaurant.image}" alt="Restaurant Image" width="800px" height="500px"/>
    <p th:text="|Address: ${restaurant.address.country}, ${restaurant.address.city}, ${restaurant.address.street} ${restaurant.address.number}|">Restaurant address</p>
    <p th:text="|Working time: ${restaurant.startTime} - ${restaurant.endTime}|">Working time</p>
    <hr>
    <p style="margin-bottom: 10px;">Our employees:</p>
    <div class="employee" th:each="empl : ${employees}">
        <img th:src="'data:image/jpeg;base64,' + ${empl.photo}" alt="Restaurant Image" width="100px" height="100px"/>
        <div>
            <p th:text="|${empl.firstName} ${empl.lastName}|">Full name</p>
            <p>Position: <span th:text="${empl.position}"></span></p>
            <p>Salary: <span th:text="${empl.salary}"></span>$</p>
        </div>
    </div>
</div>
<footer>
    <p>Phone number: +7 (123) 456-78-90</p>
    <p>Email: info@restaurantname.com</p>
    <p>Restaurant 2024</p>
</footer>
</body>
</html>